.about-grid {
    display: flex;
    margin-top: 1em;
    flex-flow: row wrap;
    justify-content: space-between;
}

.about-grid figure {
    border: 1px solid #333;
    font-size: 0;
    margin: 0 2%;
}

.about-text {
    font-size: 1.1rem;
    line-height: 1.2;
    text-align: left;
    font-family: var(--feature-sans-serif);
    color: var(--h1-alternate);
}

/* GRID HEADER */
.about-grid h5 {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    color: var(--a-standard);
    text-align: right;
    font-weight: 800;
    margin-left: 2%;
}