/* FOOTER */
footer {
    border-top: 1px solid #2f2f2f;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}


footer a{
    padding:0.86em;
    font-size: 1.12rem;
    text-decoration: none;
    color: var(--a-alternate);
}

footer a:hover {
    padding:0.86em;
    font-size: 1.22rem;
    color: var(--a-alternate);
}