.form-row {
    margin-bottom: 10px;
}

.form-row h2 {
    color: var(--h1-header);
    font-size: 3em;
    letter-spacing: -.025em;
    line-height: 1;
    text-align: end;
    margin-right: 2.45em;
    text-transform: uppercase;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
}

.contact-form form {
    max-width: 95%;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.15rem;
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--alt-font);
}

button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}