.portfolio-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 1.65rem;
}

.portfolio-grid figure {
    border: 1px solid #333;
    position: relative;
    font-size: 0;
    margin: 2% 1%;
    flex: 0 0 48%;
}

/* .portfolio-grid figure:nth-child(even) img {
    float: right;
} */

/* .portfolio-grid figure img {
    width: 60%;
    height: auto;
    margin-top: -2rem;
} */

/* GRID HEADER */
.portfolio-grid figure caption a {
    position: absolute;
    /* WHERE HEADER SITS RIGHT */
    right: 2%;
    /* WHERE HEADER SITS ABOVE / INLINE */
    top: -24%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.89rem;
    font-weight: 200;
    color: var(--a-standard);
    text-align: right;
}

.portfolio-grid figure caption a:hover {
    font-size: 2.2rem;
    color: var(--a-feature);
    text-align: right;
}


/* GRID P */
.figure-text {
    right: 4%;
    top: 5%;
    font-size: 1rem;
    line-height: 1.3;
    margin: 1.4em 0;
    text-align: left;
    font-family: var(--feature-sans-serif);
    color: var(--h1-alternate);
}

.figure-icon {
    font-size: 3.2rem;
    text-align: right;
    color: var(--h1-alternate);
    margin-right: 2%;
    margin-top: -5%;
    margin-bottom: -3%;
    padding: 0;
}

.portfolio-grid figure:nth-child(even) caption {
    left: 4%;
    right: auto;
    text-align: left;
}


@media screen and (max-width: 900px) {
    .portfolio-grid figure caption {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 800px) {
    .portfolio-grid figure caption {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 750px) {
    .portfolio-grid figure {
        flex: 0 0 100%;
        margin-bottom: 7%;
    }

    .portfolio-grid figure caption {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 450px) {
    .portfolio-grid figure caption {
        font-size: 1.2rem;
        width: 50%;
    }
}