:root {
  /* BACKGROUND COLORS */
--main-bg: #f7f6f4;
--item-bg:  #f7f5f2;

/* SECOND FONT - NO SERIF */
--feature-sans-serif: 'Lato', sans-serif;

/* HEADER COLOR */
--h1-header: #101646;
--h1-alternate: #1E3C32;

/* LINK COLOR */
--a-standard: #002045;
--a-alternate: #1E3C32;
--a-feature:  #5b1700;

/* GLOBAL COLORS */
--grey-font: #151515;
}


* {
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont;
  font-family: 'Cormorant', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
